{% extends 'base.html' %}
{% block title %}
<title>ჩვენ შესახებ</title>
{% endblock %}
{% block body %}

<div class="container">
    <h1>About</h1>
    <img src="https://i.yapx.cc/SLXEd.png"/>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris diam ante, varius sit amet pharetra sollicitudin,
        convallis ut mi. Sed sit amet ex in est iaculis rhoncus sed et ante. Curabitur ultrices et mauris vel posuere.
        Cras et ligula pulvinar mauris posuere fermentum interdum vitae sem. Nulla a aliquam dui. Mauris eget maximus
        orci. Phasellus rutrum at mi sit amet iaculis.

        Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Donec posuere tortor
        risus, at vulputate libero pellentesque in. Praesent sed porta elit. Nunc tempus augue eu vehicula sodales. Nunc
        semper nulla in elit sodales bibendum. Pellentesque ullamcorper vitae purus ac consectetur. Ut efficitur luctus
        convallis. Donec id arcu in ipsum ullamcorper aliquet. Proin ac gravida ex, in mollis mauris. Duis aliquam
        egestas turpis, quis commodo mi. Nulla in lectus non dolor tempus fermentum.

        In eget nibh a nunc vulputate suscipit. Maecenas nibh mauris, lobortis et tempor quis, malesuada vitae eros.
        Nulla quis blandit mi. Sed ultricies at libero eu commodo. Sed vitae purus sodales, tempor mi ut, interdum nunc.
        In nisl neque, pharetra ac nulla non, dictum consequat augue. Pellentesque ornare metus ac sollicitudin
        placerat. Vestibulum a sapien risus. Suspendisse quis pulvinar nibh. Etiam in lectus sollicitudin, vehicula
        lectus non, lacinia urna. Phasellus eros tellus, pretium vitae porta eget, placerat eu est. Fusce posuere auctor
        velit, non rutrum ipsum finibus quis.

        Vestibulum mauris lectus, consectetur quis diam tristique, porta aliquet orci. Nulla et mauris quis felis
        gravida pretium. Ut rutrum dui ac leo viverra porta. Etiam blandit imperdiet semper. Ut neque mi, egestas in
        gravida eu, tempus non sem. Morbi nunc diam, varius ut dolor facilisis, blandit suscipit diam. Fusce nunc
        tortor, volutpat id semper nec, rutrum ac enim. Aenean semper volutpat condimentum. Mauris euismod purus quis
        tellus pretium, ut commodo lorem porttitor. Duis sagittis ante non nunc dictum, et fermentum erat tempus. Morbi
        eu felis leo. Donec egestas ipsum venenatis, ullamcorper nisl sit amet, commodo mauris. In ut dignissim velit,
        eu semper sapien. Vestibulum at enim nec nulla consequat semper. Vestibulum nec eros libero. Vivamus bibendum
        dolor dolor, ac fermentum mi scelerisque at.

        Vivamus dapibus velit a nibh varius, non interdum lacus semper. Vestibulum posuere ante et turpis ultricies
        tincidunt. Maecenas pulvinar volutpat maximus. Morbi iaculis vitae tellus at placerat. Praesent porta elementum
        commodo. Duis lacus justo, pretium eget orci eget, faucibus maximus velit. Phasellus ligula lacus, luctus vitae
        velit eget, aliquam sollicitudin justo.</p>
</div>
{% endblock %}