{% extends 'base.html' %}
{% block title %}
<title>Thunder's shop</title>
{% endblock %}
{% block body %}
<h1>Thunder's shop</h1>

<div class="row row-cols-1 row-cols-md-3 mb-3 text-center" >
    {% for item in items%}
    <div class="col">
        <div class="card mb-4 rounded-3 shadow-s" style="height: 450px">
            <div class="card-header py-3">
                <h4 class="my-0 fw-normal">{{item.title}}</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">{{item.price}} ₾<small class="text-muted fw-light"></small></h1>
               <p>ID: {{item.id}}</p>
                <ul class="list-unstyled mt-3 mb-4">
                    <li>{{item.text}}</li>
                </ul>
                <a href="/buy/{{item.id}}" class="w-100 btn btn-lg btn-outline-primary">ყიდვა</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

   <div>
                        <p> ქალაქი: {{city_name}} [{{country_code}}] | კოორდინატები: {{coord_lon}} X {{coord_lat}} |
                            ამინდი: {{city_weather}}
                        </p>
                        <p>
                            ღრუბლოვანობა: {{city_sky}} | ტემპერატურა: {{temp}} °C (იგრძნება როგორც {{temp_feel}} °C) |
                            წნევა: {{pressure}} bar
                        </p>
                        <p>
                            ტენიანობა: {{humidity}} % | ქარის სიჩქარე: {{wind_speed}} მ/წ | ქარის მიმართულება:
                            {{wind_dirrection}} °
                        </p>
                    </div>
{% endblock %}

