{% extends "base.html" %}
{% block title %}
<title>ავტორიზაცია</title>
{% endblock %}
{% block body %}
<div class="column is-4 is-offset-4">
    <h3 class="title">Login</h3>
    <div class="box, container">
  {% for category, message in  get_flashed_messages(with_categories=true) %}
	<spam class="{{ category }}">{{ message }}</spam>
    {% endfor %}
        <form method="POST" action="/login">
            {{ form.csrf_token }}
           <p>
	    {{ form.username.label() }}
	    {{ form.username() }}
	    {% if form.username.errors %}
		{% for error in form.username.errors %}
		    {{ error }}
		{% endfor %}
	    {% endif %}
	</p>
	<p>
	    {{ form.password.label() }}
	    {{ form.password() }}
	    {% if form.password.errors %}
		{% for error in form.password.errors %}
		    {{ error }}
		{% endfor %}
	    {% endif %}
	</p>
	<p>
	    {{ form.remember.label() }}
	    {{ form.remember() }}
	</p>
	<p>
	    {{ form.submit() }}
	</p>
             <a class="btn btn-outline-primary" href="/registration">Registration</a>
        </form>
    </div>
</div>

    {% endblock %}